.WeatherForecastDay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: rgba(248, 249, 250, 0.8);
  border-bottom: 1px solid #eee;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  transition: all 200ms ease-in-out;
}
.WeatherForecastDay:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.8);
}
.WeatherForecastDay .day {
  font-size: 1rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 5px;
}
.WeatherForecastDay .forecast-icon {
  width: 60px;
  height: 60px;
  margin: 5px 0;
}

.WeatherForecastDay .temperature-min {
  color: var(--temperature-cold);
  margin-left: 5px;
  font-size: 13px;
  font-weight: 400;
  opacity: 0.7;
}
.WeatherForecastDay .temperature-max {
  color: var(--temperature-hot);
  font-size: 14px;
  font-weight: 500;
}

@media (min-width: 992px) {
  .WeatherForecastDay {
    flex-direction: column;
    padding: 15px;
    border: none;
  }
}
