.SearchField {
  display: flex;
  justify-content: center;

  gap: 5px;
  margin-bottom: 20px;
}

.SearchField input[type="search"] {
  width: 85%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: var(--font-family-body);
}

.SearchField input[type="submit"] {
  width: 25%;
  background-color: var(--primary-color);
  border-radius: 4px;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}
.SearchField input[type="submit"]:hover {
  background-color: var(--secondary-color);
}

.button {
  font-family: var(--font-family-body);
  font-size: 14px;
}
