.Header {
  color: white;
  letter-spacing: 1.5px;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.title {
  font-family: var(--font-family-heading);
  font-size: 64px;
}
.sub-title {
  font-family: var(--font-family-body);
  font-size: 30px;
  font-weight: 600;
}
