.Header {
  color: white;
  letter-spacing: 1.5px;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
.app-header {
  padding-top: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 200px;
  z-index: 1000;
  background-color: var(--container-background);
  backdrop-filter: blur(5px);
}
.title {
  font-family: var(--font-family-heading);
  font-size: 2.6rem;
}
.sub-title {
  font-family: var(--font-family-body);
  font-size: 0.8rem;
  font-weight: 600;
  padding: 0 5px;
}
@media (min-width: 768px) {
  .title {
    font-size: 4rem !important;
  }
  .sub-title {
    font-size: 1.5rem;
  }
}
