.Footer {
  width: 100%;
  text-align: center;
  margin-top: 5px;
  padding-top: 20px;
  color: white;
  font-family: var(--font-family-body);
}
.Footer p {
  color: #bdedf4;
}
.Footer a {
  text-decoration: none;
  color: white;
}
.Footer a:hover {
  text-decoration: underline;
}
