:root {
  /*Colors*/
  --primary-color: #4d5a12;
  --secondary-color: #6d660b;
  --text-color: #f5f6f1;
  --background-color: #f4f7f9;
  --container-background: #c6d8e7;
  --heading-container-background: #c6d8e7cc;
  --pill-background: #f2f8dfcc;
  --temperature-hot: rgb(237, 42, 7);
  --temperature-cold: rgb(5, 111, 193);
  --link-color: #60bfee;

  /*Typography*/
  --font-family-heading: "Luckiest Guy", cursive;
  --font-family-body: "Parkinsans", sans-serif;

  /*Style*/
  --border-radius: 8px;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
/*Dark Mode colors*/
.dark {
  --background-color: #2b2622;
  --container-background: #3c3631;
  --heading-container-background: #3c3631cc;
  --pill-background: #4d4641;
  --primary-color: #768a1e;
  --secondary-color: #6898bb;
  --link-color: #5b86a4;
  --text-color: #e4e0d7;
  --temperature-hot: #c77e71;
  --temperature-cold: #5b86a4;
}

body::before {
  content: "";
  background-image: url("../public/images/app-background.jpg");
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;

  transition: filter 0.4s ease-in-out;
}
body.dark::before {
  filter: brightness(60%);
}
