.DailyWeather {
  border-bottom: 2px solid #dee2e6;
  margin-bottom: 10px;
  padding: 20px 0;
}
.DailyWeather .weather-icon {
  width: 100px;
  height: 100px;
}
.DailyWeather .temperature-container {
  margin-left: 10px;
}
.DailyWeather .temperature {
  font-size: 3.5rem;
  font-weight: bold;
}

.DailyWeather .units {
  font-size: 1.2rem;
  position: relative;
  top: -24px;
}

.DailyWeather .city-name {
  font-family: var(--font-family-heading);
  font-size: 2rem;
  margin: 0;
  color: var(--primary-color);
}
.DailyWeather .description {
  background-color: rgba(108, 117, 125, 0.1);
  display: inline-block;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 20px;
  font-size: 0.8rem;
  padding: 6px;
  text-transform: capitalize;
  margin: 5px 0;
}
.details {
  margin: 0;
  list-style: none;
  padding: 0;
  color: var(--primary-color);
  font-weight: 700;
}

.date {
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 18px;
}

.humidity-wind {
  font-size: 14px;
}
@media (min-width: 768px) {
  .DailyWeather .weather-icon {
    width: 150px;
    height: 150px;
  }

  .DailyWeather .temperature {
    font-size: 4rem;
  }

  .DailyWeather .units {
    font-size: 1.2rem;
  }
  .DailyWeather .city-name {
    font-size: 2rem;
  }
}
